@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --light: #f6f6f9;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
  --red-rubro: #d40434;
  ;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
}

[data-theme="dark"] {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

body {
  background-color: var(--grey);
  overflow-x: hidden;
}

/* ------------------------------------------SIDEBAR STYLE-------------------------------------------*/
.sidebar a {
  text-decoration: none;
}

.sidebar {
  flex-shrink: 0;
  font-size: 13.5px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--light);
  color: var(--dark);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar .logo {
  font-size: 20px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red-rubro);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo .bx {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.sidebar .logo  span {
  color: var(--light);
}

.sidebar .side-menu {
  width: 100%;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
}

.side-menu a {
  color: var(--danger);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.sidebar.close {
  width: 40px;
}

.sidebar.close span label,
.sidebar.close .text {
  display: none;
}

/* ----------------------------------STYLE PARA O DROP MEMU--------------------------------------*/
.sidebar-item {
  display: block;
  text-decoration: none;
}

.sidebar-item .bx {
  font-size: 1.3rem;
}

.sidebar-item a {
  text-decoration: none;
  color: var(--dark);
}

.sidebar-item:hover,
.sidebar-item:hover a {
  color: #f6f6f9;
  background-color: var(--red-rubro);
}

.sidebar-content .sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sidebar-item span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-title span i {
  display: inline-block;
  width: 1.5rem;
}

.sidebar-title .toggle-btn {
  cursor: pointer;
}

.sidebar-item.open .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.sidebar-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

.sidebar-item.open .sidebar-content {
  height: auto;
}

/* ----------------------------------SYTLE PARA O DROP MEMU--------------------------------------*/

/* ----------------------------------------------------------------------------------------------- */


/*-------------------------------------------NAV BAR STYLE-----------------------------------------*/

.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}

.content .bx {
  font-size: 1.5rem;
}

.sidebar.close~.content {
  width: calc(100% - 40px);
  left: 40px;
}

.content nav {
  height: 56px;
  background-color: var(--light);
  padding: 0.24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 15px 0 15px;
  overflow: hidden;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
  color: var(--dark);
}

.content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

.content nav .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background-color: var(--dark-grey);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

.content nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--red-rubro);
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 2;
}

.content nav #theme-toggle:checked+.theme-toggle::before {
  left: calc(100% - 21px - 2px);
}

.content div .theme-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px 0 3px;
}

.content div label .bx {
  color: #f6f6f9;
  font-size: 1.2rem;
}

/* ---------------------------------------------END----------------------------------------------- */


/* --------------------------------------------Menu Itens----------------------------------------- */
main .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}

.sidebar.close~.menu {
  width: calc(100% - 40px);
  left: 40px;
}

main .menu .insights {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-top: 36px;
  color: var(--dark);
  flex-wrap: wrap;
  justify-content: center;
}

main .menu .insights li {
  padding: 10px;
  background-color: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
  min-width: 300px;
  flex: 0 0 calc(25% - 10px);

}

main .menu .insights li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main .menu .insights li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  ;
}

/* ----------------------------------------------------------------------------------------------- */


/* -------------------------------------------LOGIN PAGE------------------------------------------ */

.login {
  background-color: #25252c;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .userLogin {
  background-color: var(--red-rubro);
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
}

.login .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  font-weight: bold;
}

.login .logo .bx {
  width: 80px;
  height: 80px;
  font-size: 5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background-color: var(--dark);
}

.login form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.login form span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login form span input {
  background-color: var(--light);
  border: none;
  border-radius: 0 5px 5px 0px;
  padding: 0.4px;
  outline: none;
}

.login form span i {
  background-color: var(--light);
  border: none;
  font-size: 1.3rem;
  border-radius: 5px 0 0 5px;
  color: var(--dark);
}

.login form .button{
  border: none;
  padding: 3px;
  min-width: 90px;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 10px;
  cursor: pointer;
}

.login .userLogin a{
  text-decoration: none;
  color: var(--light);
  font-size: 12px;
}
/* ----------------------------------------------------------------------------------------------- */